<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Mis Proyectos</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/projects">Proyectos</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Proyectos Recientes</h2>
        <p>A continuación te presento algunos de los proyectos que he realizado como parte de mi aprendizaje y experiencia práctica:</p>
        <ul>
            <li>
                 <strong>Proyecto: Gestión de slots para aviones en un aeropuerto</strong> <br>
                Descripción: Diseñé un programa que asigna slots a un conjunto de aviones, utilizando tres tipos de archivos de entrada: Txg, JSON y CSV. El objetivo es gestionar las operaciones de desembarque, embarque y repostaje de los aviones, asignando un slot específico a cada uno según su ID único y las fechas de vuelo asociadas. <br>
                El reto principal fue coordinar cinco slots disponibles para 12 aviones, evitando solapamientos en los horarios. Utilicé principios de programación orientada a objetos, implementando clases e instancias para garantizar una asignación eficiente y escalable. <br>
                <a href="https://lnkd.in/epfSiT4C" target="_blank">Ver código completo en GitHub</a>
            </li> 
        </ul>
    </section>

    <footer>
        <h3>Datos de Contacto</h3>
        <ul>
            <li><strong>Correo Electrónico:</strong> <a href="mailto:eabaitua.developer@gmail.com">eabaitua.developer@gmail.com</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/eduardo-abaitua-vázquez-115b4a336" target="_blank">Mi LinkedIn</a></li>
            <li><strong>GitHub:</strong> <a href="https://github.com/Eabaitua" target="_blank">Eabaitua en GitHub</a></li>
        </ul>
    </footer>
</body>
</html>